body {
    background-image: url('https://media.licdn.com/dms/image/D4D12AQG65QjD8mLCkw/article-cover_image-shrink_720_1280/0/1678326890814?e=2147483647&v=beta&t=ug8lALGPhhW8hCPHX2gQE6Qv9GF0M2shsIhK__EdW2I');
    background-repeat: no-repeat;
    background-size: 100%;
}
